{% extends "layout.html" %}

{% block title %}
    Current In Theaters
{% endblock %}

{% block main %}
<div class="row" >
  <!-- example -->
  <div class="row">
    {% if number == 0 %}
    <h3>Please click Refresh to discover movies in Theathers!</h3>
    {% else %}
    <h3>Currently {{ number }} movies in Theathers!</h3>
    {% endif %}
    <div class="text-muted" style="text-align: right; font-size: small;">
      Last updated: {{ calldate }}
    </div> 
      <form action="/intheaters" method="post"> 
        <button class="btn btn-dark">Refresh</button> 
      </form>
  </div>

  <!-- Movies -->
    {% for movie in movies %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-3">
          <img src="{{ movie['image'] }}" class="card-img" alt="{{ movie['title'] }}">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{ movie['title'] }}</h5>
            <p class="card-text">Release State: {{ movie['releaseDate'] }} | Rating: {{ movie['rating'] }}</p>
            <p class="card-text">Runtime: {{ movie['runtime'] }} | Genres: {{ movie['genres'] }} | Directors: {{ movie['directors'] }}</p>
            <p class="card-text">Stars: {{ movie['stars'] }} </p>
            <p class="card-text">Plot: {{ movie['plot'] }}</p>
          </div>
          <form action="/addmovie" method="post">
            <div class="card-body action">
            <a href="http://"><button class="btn btn-light" >View Trailer <i class="fas fa-external-link-alt"></i></button></a>
              <input type="hidden" name="title" value="{{ movie['title'] }}"><button type="submit" class="btn btn-light" >Add to Watchlist</button>
            </div>
            </form>
        </div>
      </div>
    </div>

    {% endfor %}
   </div>
  
{% endblock %}