{% extends "layout.html" %}

{% block title %}
    My Watchlist
{% endblock %}

{% block main %}

<h1>This is function 3 page.</h1>
<a href="http://">link test</a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui natus voluptatibus quibusdam corporis ad, amet rerum quas incidunt sed totam cum consectetur possimus vero quod harum dicta eum autem, nihil esse molestiae, minus aliquid. Natus sit numquam quisquam qui nulla laboriosam aperiam placeat iure excepturi, voluptatem porro? Temporibus fuga cumque excepturi quia earum aperiam in quas, minus deleniti! Quasi quisquam fugit fuga vero reiciendis porro accusamus nulla non, molestiae, quo, perferendis doloremque odit quod laborum adipisci nobis error ab quis illum commodi nam officia quae dolorum est. Magni dolorem labore doloremque facilis. Expedita impedit a ratione maiores illo dolorum. Culpa.</p>
{% endblock %}