{% extends "layout.html" %}

{% block title %}
    My Watchlist
{% endblock %}

{% block main %}

{% if not movies %}
<h3>You haven't add any movie yet. <br>Please explore what's new in theaters!</h3>

{% else %}
<h1>This is your Watchlist!</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="t-header">Poster</th>
            <th scope="col" class="t-header">Title</th>
            <th scope="col" class="t-header">Release Year</th>
            <th scope="col" class="t-header">Runtime</th>
            <th scope="col" class="t-header">Rating</th>
            <th scope="col" class="t-header"></th>
        </tr>
    </thead>
    <tbody class="tbody">
        {% for movie in movies %}
        <tr>
            <th><img class="small-img" src="{{ movie['image'] }}" alt="{{ movie['title'] }}"></th>
            <th>{{ movie['title'] }}</th>
            <th>{{ movie['releaseYear'] }}</th>
            <th>{{ movie['runtime'] }}</th>
            <th>{{ movie['rating'] }}</th>
            <form action="" method="post">
                <input type="hidden" name="title" value="{{ movie['title'] }}">                
                <th><button type="submit" class="btn btn-outline-dark ">Remove</button></th>
            </form>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}

{% endblock %}